*{
    border: 0;
    margin: 0;
    padding: 0; 

}

body {
    background: lavender;
    font-family: Helvetiva;
    font-size: 16;
    text-align: center;
}

fieldset {
    background: white;
    border: thin solid skyblue;
    border-radius: 1em;
    padding: 1em;
}

form {
    margin: .5em auto;
    width: 80%;
    
}

input[type="button"] {
    background: #F60;
    border: thin solid transparent;
    border-radius: .5em;
    color: #FFF;
    cursor: pointer;
    font-size: 1em;
    padding: .5em;
}

input[type="button"]:hover {
    background: skyblue;
    border: thin solid #F60;
    border-radius: 0;
    color: #F60;
    cursor: pointer;
}

input[type="radio"], label{
    cursor: pointer;
}

input[type="text"], textarea {
    background: #DDD;
    border: thin solid skyblue;
    border-radius: 1em;
    color: #F60;
    font-size: 1em;
    padding: .25em;
}

textarea {
    resize: none;
}

legend {
    color: #F60;
    font-size: 2em;
    font-weight: bold;
}

.cambio {
    transition: all 1s ease-in-out;
}

:focus {
    box-shadow: .1em .1em .5em rgba(255,102,0,.5);
    outline: thin solid #F60;
}
